h1{
    font-size: 60px;
    text-align: center;
}

.container{
   height: 500px;
   position: relative;
}

.main-container{
    margin: auto;
   text-align: center;
   position: absolute;
   top: 50%;
   width: 100%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}